/* font-family: 'Quicksand', sans-serif; */
/* COLORS */
/* light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

/* body{
    background-color: #78a7c6;
} */
HTML,body {

  display: flex;
  justify-content: center;
     height : 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf, #ffffff );
  
  }



  h1 {
    text-decoration-color: #ffffff;
  }

  h2 {
    text-decoration-color: #ffffff;
    margin-top: 40px;

  }

    .box{
        word-spacing: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 25px;
        height: 90px;
        width: 400px;
        background-color:  #ffffff;
      }

      .box2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        border-radius: 25px;
        height: 130px;
        width: 800px;
        background-color:  #ffffff;
      
      }

      .button {
       
          font-size: 25px;
          padding: 3px;
          background-color: #0b0762;
          border-radius: 3px;
          border: none;
          margin-top: 25px;
          
      }

      .favorite-button {
        height: 25px;
        width: 140px;
        margin-top: 20px;
        margin-bottom: 20x;
      
      }

      .view-favorite-button {
        height: 25px;
        width: 140px;
        margin-top: 20px;
        margin-bottom: 20x;

      }

      .icon {
          width: 75px;
          height: 75px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 25px;
      }

      button:hover {
        background-color: #EBC3A8;
      }

      .radio1 {
        margin-right: auto;
        margin-left: auto;
       

      }

      .radio2 {
        margin-right: auto;
        margin-left: auto;
        
      }

  
      .hidden{
        display: none;
      }

     
  