/* font-family: 'Quicksand', sans-serif; */
/* COLORS */
/* light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

/* body{
    background-color: #78a7c6;
} */
HTML,body {
  
     height : 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf, #ffffff );
  
  }



  h1 {
    text-decoration-color: #ffffff;
  }

  h2 {
    text-decoration-color: #ffffff;
    margin-top: 40px;

  }

    .box{
        word-spacing: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 25px;
        height: 90px;
        width: 400px;
        background-color:  #ffffff;
      }

      .box2{
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border-radius: 25px;
        height: 130px;
        width: 800px;
        background-color:  #ffffff;
        margin-top: 15px;
      }

      button {
        /* width: 10px;
        height: 30px;
        display: flex; */
          font-size: 25px;
          padding: 3px;
          background-color: #0b0762;
          border-radius: 3px;
          border: none;
          margin-top: 25px;
      }

      button:hover {
        background-color: #EBC3A8;
      }

     
  

/* 
      border: 2px solid #444957;
      border-radius: 10px;
      width: 25%;
      margin: 40px auto;
      padding-bottom: 40px;
      background-color: #a986bc */